.overlay-div {
  position: relative;
  width: 460px;
  border-radius: 24px;
  overflow: auto;
}

.close-icon {
  height: 32px;
  position: absolute;
  top: 12px;
  right: 12px;
}

.close-icon:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition-delay: 125ms;
}

.overlay-name {
  position: relative;
  top: 32px;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.overlay-attr-div {
  position: relative;
  top: 40px;
  display: flex;
  gap: 16px;
}

.overlay-attr {
  color: white;
  padding: 4px 8px;
  font-size: 18px;
  border-radius: 8px;
}

.overlay-img-div {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin-bottom: -40px;
  z-index: 4;
}

.overlay-img {
  max-height: 308px;
}

.arrow-back {
  position: relative;
  left: 16px;
  height: 40px;
}

.arrow-back:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition-delay: 125ms;
  cursor: pointer;
}

.arrow-forward {
  position: relative;
  right: 16px;
  height: 40px;
}

.arrow-forward:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition-delay: 125ms;
  cursor: pointer;
}

.overlay-info {
  padding-top: 40px;
  padding-bottom: 24px;
  background-color: white;
  width: 100%;
  position: relative;
  bottom: 0;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  z-index: 3;
  height: 264px;
}

.info-tabs-div {
  display: flex;
  justify-content: space-between;
  gap: 0;
  background-color: #f1f1f1;
}

.tab-lnk {
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
  color: rgb(159, 159, 159);
}

.tab-lnk:hover {
  background-color: #dddddd;
  cursor: pointer;
  transition-delay: 125ms;
}

.focus {
  color: black;
  font-weight: bold;
}

.about-tab-div {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 8px;
  column-gap: 32px;
}

.base-stats-div {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  gap: 8px;
  column-gap: 32px;
}

.evolution-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 4px;
}

.evolution-pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.evolution-img {
  max-width: 80px;
}

.evolution-arrow {
  width: 32px;
}

.moves-div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.progressbar-wrapper {
  width: 160px;
  height: 8px;
  background-color: #dddddd;
  margin-top: 6px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
}

.progressbar {
  height: 6px;
  border-radius: 4px;
}

@media (max-width: 480px) {
  .overlay-name {
    font-size: 32px;
  }

  .tab-lnk {
    font-size: 16px;
  }

  .overlay-img {
    width: 200px;
  }

  .base-stats-div {
    column-gap: 16px;
  }

  .progressbar-wrapper {
    width: 120px;
  }

  .evolution-img {
    width: 64px;
  }
}
