.overlay-div {
  position: fixed;
  top: 80px;
  left: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-dialog {
  width: 492px;
  min-height: 80px;
  height: 800px;
  border-radius: 24px;
  position: relative;
}

.close-icon {
  height: 32px;
  position: absolute;
  top: 12px;
  right: 12px;
}

.overlay-name {
  position: absolute;
  top: 40px;
  left: 24px;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.overlay-attr-div {
  position: absolute;
  top: 96px;
  left: 24px;
  display: flex;
  gap: 16px;
}

.overlay-attr {
  color: white;
  padding: 4px 8px;
  font-size: 18px;
  border-radius: 8px;
}

.overlay-info {
  width: 492px;
  min-height: 420px;
  background-color: white;
  position: absolute;
  bottom: 0;
  border-radius: 24px;
  padding-top: 48px;
  display: flex;
  flex-direction: column;
}

.info-tabs-div {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.tab-lnk {
  border: none;
  color: gray;
  background-color: transparent;
  font-size: 20px;
}

.tab-lnk:hover {
  color: black;
  cursor: pointer;
}

.overlay-img-div {
  position: absolute;
  top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.overlay-img {
  height: 308px;
}

.base-stats-div {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  gap: 8px;
}
