.pd-lr-dflt {
  padding-left: 32px;
  padding-right: 32px;
}

.pd-lr-16px {
  padding-left: 16px;
  padding-right: 16px;
}

.pd-lr-32px {
  padding-left: 32px;
  padding-right: 32px;
}

.pd-lr-24px {
  padding-left: 24px;
  padding-right: 24px;
}

.pd-lr-detailed-card {
  padding-left: 32px;
  padding-right: 32px;
}

@media (max-width: 392px) {
  .pd-lr-dflt {
    padding-left: 16px;
    padding-right: 16px;
  }
}
