body {
  background-color: #eefaef;
  font-family: Nunito_Sans;
}

header {
  background-color: #d3dad0;
}

.header-content {
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-img {
  height: 32px;
}

.logo-text {
  font-size: 24px;
}

.search {
  height: 28px;
  width: 200px;
  padding-left: 8px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  border: none;
}

.search:focus {
  outline: none;
}

.content {
  min-height: calc(100vh - 192px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  min-width: 224px;
  height: 156px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.1));
  position: relative;
}

.card:hover {
  cursor: pointer;
}

.card-name {
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  min-height: 48px;
}

.attribute {
  color: white;
  padding: 4px 8px;
  font-size: 18px;
  border-radius: 8px;
}

.card-img {
  width: 144px;
  position: absolute;
  top: 32px;
  right: 16px;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.75));
}

footer {
  height: 96px;
  background-color: #d3dad0;
}

.fire-card {
  background-color: rgb(202, 54, 54);
}

.fire-attr {
  background-color: rgb(255, 92, 32);
}

.grass-card {
  background-color: rgb(90, 190, 90);
}

.grass-attr {
  background-color: rgb(27, 131, 27);
}

.water-card {
  background-color: rgb(59, 153, 254);
}

.water-attr {
  background-color: rgb(0, 94, 255);
}

.loadmore-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: 20px;
  padding: 16px 32px;
  background-color: #d3dad0;
  border: none;
  border-radius: 8px;
}

.btn:hover {
  cursor: pointer;
  background-color: #b2d7a2;
}
