body {
  background-color: #eefaef;
  font-family: Nunito_Sans;
}

header {
  background-color: #d3dad0;
}

.header-content {
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-img {
  height: 32px;
}

.logo-text {
  font-size: 24px;
}

.search {
  height: 28px;
  width: 200px;
  padding-left: 8px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  border: none;
}

.search:focus {
  outline: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}

.card {
  min-width: 224px;
  height: 156px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.1));
  position: relative;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 0 16px 0 #4db9a3;
  transition-delay: 0.1s;
}

.card-name {
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  min-height: 48px;
}

.attribute {
  color: white;
  padding: 4px 8px;
  font-size: 18px;
  border-radius: 8px;
}

.card-img {
  width: 144px;
  position: absolute;
  top: 32px;
  right: 16px;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.75));
}

footer {
  height: 96px;
  background-color: #d3dad0;
}

.loadmore-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: 20px;
  padding: 16px 32px;
  background-color: #d3dad0;
  border: none;
  border-radius: 8px;
}

.btn:hover {
  cursor: pointer;
  background-color: #b2d7a2;
}

.background-dim {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
